* {
    margin: 0%;
    padding: 0%;
}

ul {
    list-style: none;
}

body {
    width: 65%;
    margin: 0 17.5%;
    border-left: 1px solid black;
    border-right: 1px solid black;


}

/* main nav bar  */
.navbar {
    margin-top: 5px;
}

/* navbar's container */
.container {
    align-items: center;
}

/* here is the navbar's Flexbox  */
.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* line  below container */
.line hr {
    border: none;
    color: rgb(242, 235, 235);
    overflow: visible;
    text-align: center;
    height: 2px;
}

.line2 hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 2px;
}

a {
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.logo img {
    height: 3em;
    width: 24em;
    margin-right: 4em;
}

.third-nav {
    font-size: smaller;
}

.lang {
    font-size: 0.7em;
}

/* ///////////// Navbar ends here!!!!!!   //////////////// */

.main-body {
    display: grid;
    grid-template-columns: 43em 20em;
    grid-template-rows: min-content;
    grid-column-gap: 1em;
}

.left-side-container {
    display: grid;
    grid-template-columns: 15em 18em;
    grid-template-rows: min-content;
    grid-column-gap: 1em;
}

.left-side-para {
    padding: 0.4em;
}

.left-side-para h3 {
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-size: 1.175rem;
    line-height: 1em;
    color: #121212;
    font-weight: 700;
}

.left-side-para p {
    font-size: 0.8em;
    line-height: 1em;
}

.left-side-para li {
    border-bottom: 1px dotted;
    padding-bottom: 1em;
    padding-top: 0.3em;
}

.left-side-image {
    padding: 1em;
}

.left-side-image img {
    width: 26em;
    height: 16em;
}

/* right side of the page */


.right-side-img {
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.right-side-img img {
    width: 15em;
    height: 10em;
}

.right-side-para {
    align-items: center;
    align-content: center;
}

/* grid */
.right-side-ul ul {
    display: grid;
    grid-template-columns: 8em 8em;
    align-items: center;
    grid-gap: 0.5em;
}

/* right side dotted line ki class  */
.right-side-dotted-line {
    border-right: 1px dotted rgb(87, 83, 83);
    border-bottom: 1px dotted rgb(87, 83, 83);
    margin: 1%;
}

.right-side-ul img {
    width: 6em;
    height: 5em;
}

.right-side-ul h5 {
    font-size: 0.7em;
    font-weight: 500;

}

.right-side-para h2 {
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 4%;
    padding-left: 1%;
    padding-right: 1%;
    width: 14em;

}

/* recommended list  */
.right-side-recommended {
    padding-top: 1%;
}

.right-side-recommended h3 {
    padding-top: 1%;
}

.right-side-recommended p {
    padding-top: 1%;
    font-size: 0.7em;
}

.right-side-recommended ul li {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px dotted rgb(100, 87, 87);
    margin-bottom: 3%;
}

.right-side-recommended ul {
    padding-top: 2%;
    width: 15.8em;
}

.right-side-recommended ul li h3 {
    width: 9em;
    font-size: 0.7em;

}

.right-side-recommended ul li img {
    padding-top: 1%;
    width: 4em;
    height: 4em;
    margin-left: 2.5em;
    margin-bottom: 4%;
}

.recommended-li {
    padding-right: 2em;
    align-items: center;
}

/* second list started here  */
.second-list {
    padding-top: 1%;
}

.second-list h5 {
    color: rgb(114, 114, 114);
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 0.6em;
}

.second-list ul li {
    margin-bottom: 4%;
    width: 15em;
    border-bottom: 1px dotted rgb(100, 87, 87);
}

.second-list h3 {
    font-size: 0.9em;
    width: 18em;


}

.second-list p {
    font-size: 0.5em;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* center flex started here from the below */
.center-flex ul {
    display: grid;
    grid-template-columns: 14em 14em 14em 14em;
    grid-column-gap: 1em;
}

.center-flex ul li {
    display: flex;
    margin-right: -6%;
    border-right: 1px dotted rgb(100, 87, 87);

}

.center-flex ul li img {
    width: 4em;
    height: 4em;
    margin-right: 1em;


}

.center-flex ul h6 {
    font-size: 0.8em;
    font-weight: 300;
    width: 12em;
}

.center-flex ul div {
    margin-right: 2%;
    margin-left: 2%;
}

.center-flex p {
    font-size: 0.6em;
    font-weight: 100;
    color: #333;
}

.left-side-para-adjust {
    margin-left: -44em;
    margin-top: 8em;
    display: grid;
    grid-template-columns: 44em 5em;
}

/* cooking section of news started here */
.new-york-cooking ul {
    display: flex;
    flex-direction: row;
    width: 106%;
}

.new-york-cooking ul li {
    padding: 2%;
    border-right: 0.5px dotted rgb(87, 83, 83);
}

.new-york-cooking ul li img {
    width: 10.1em;
    height: 7em;
}

/* one image post started here */
.one-image-post {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2%;
    border-right: 1px dotted rgb(87, 83, 83);
}

.one-image-post p {
    margin-top: 1%;
    font-weight: 300;
    font-size: 0.99em;
    color: rgb(87, 83, 83);
}

.send {
    margin-top: 1%;
    font-weight: 300;
    font-size: 0.6em;
    color: rgb(87, 83, 83);
}

.one-image-post h3 {
    margin-top: 1%;
    font-weight: 500;
    color: rgb(87, 83, 83);
}

.one-image-post img {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 3%;
}

.one-img {
    margin-top: 15em;
    margin-left: -43em;
    width: 210%;

}

.one-img-grid {
    display: grid;
    grid-template-columns: 42.5em 15.8em;
}

.adjust-right-side-ul {
    margin-left: 1%;
    margin-top: 2%;
}

.adjust-right-side-ul ul li {
    width: 7em;
}

.play ul {
    display: grid;
    grid-column: 3;
    grid-template-columns: 20.57em 20.57em 20.57em;
    margin-top: 2%;

}

.play ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
    width: 18em;
    align-items: center;
    border-bottom: 1px dotted rgb(87, 83, 83);
    align-content: center;
    padding: 5%;
}

/* dotted line for left side showing */
.left-line {
    border-right: 1px dotted rgb(87, 83, 83);
}

.play ul li img {
    width: 4em;
}

.play p {
    font-size: 0.75em;
}

.play h3 {
    font-size: 0.9em;
}

/* news section */
.news-section {
    margin-left: -43em;
    margin-top: 17em;
}

.news-section ul {
    display: grid;
    grid-template-columns: 10em 10em 10em 10em 10em;
    grid-gap: 2em;
    row-gap: 2em;
}

.news-section ul li img {
    width: 10em;
    height: 6.5em;
}

.news-section h4,
p {
    font-size: 0.7em;

}

.news-section h4 {
    margin-bottom: 0.5em;
}

.news-section p {
    margin-bottom: 1em;
}

.news-section h3 {
    font-size: 0.7em;
    margin-bottom: 2em;
    margin-top: 2em;
}
.last-logo img{
    width: 10em;
    height: 1em;
}
.last{
    display: grid;
    grid-template-columns: 10em 10em 10em 10em 10em 10em;
    column-gap: 2em;
    margin-left: 1.5em;
    font-size: 0.8em;

}
.last li{
    margin-bottom: 0.3em;
}
.subscribe-ul img{
    width: 1em;
    height: 1em;
}
.subscribe-ul li{
    display: flex;
    align-items: center;

}